* {
    justify-content: center;
}

body {
    background: rgba(255, 115, 115, 0.685);
}

header{
    font-size: 20pt;
    font-family: 'Love';
    color: rgba(255, 115, 115, 0.685);
    text-align: center;
    padding: 15px;
}

section { 
    background: rgba(0, 0, 0, 0.904);
    border-radius: 10px;
    padding: 15px;
    width: 1200px;
    height: 2900px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.363);
}

a {
    text-decoration: none;
    color: rgba(255, 115, 115, 0.685);
}

a:link {
    color: rgba(107, 49, 49, 0.685);
}

a:visited {
    color: rgba(107, 49, 49, 0.685);
}

a:hover {
    color: rgba(255, 115, 115, 0.685);
}

a:focus {
    color: rgba(107, 49, 49, 0.685);
}

a:active {
    color: rgba(107, 49, 49, 0.685);
}

div {
    font-family: 'Valentines';
    font-size: 30pt;
    color: rgba(255, 115, 115, 0.685);
    padding: 5px;
    text-align: center;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}

@media(max-width: 800px){
    body {
        min-width: 100%;
        display: flex;
        flex-direction: column;
        height: 450px;
        width: 100%;
    }
}